<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details - iPortfolio Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static',filename='aos2.ss') }}" rel="stylesheet">

{#  <link href="assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">#}
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
{#  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">#}
        <link href="{{ url_for('static',filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
{#  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">#}
    <link href="{{ url_for('static',filename='vendor/boxicons/css/boxicons.css/boxicons.min.css') }}" rel="stylesheet">
{#  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">#}
    <link href="{{ url_for('static',filename='vendor/glightbox/css/glightbox.css/glightbox.min.css') }}" rel="stylesheet">
{#  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">#}
    <link href="{{ url_for('static',filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.3.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{{ url_for('static', filename='me.jpg') }}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Dennis Njue</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="{{ url_for('index') }}" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="{{ url_for('index') }}" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="{{ url_for('index') }}" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="{{ url_for('index') }}" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="{{ url_for('index') }}" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a href="{{ url_for('index') }}" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Mobile App Developed</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>App Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

           <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>KEFRI APP</h2>
            <p>KEFRI App is a web-based platform and mobile application developed by Meforest Initiative, that sought to collaborate with Kenya Forestry Research Institute (KEFRI) amongst other actors to partner for goals and establish a paradigm shift from the traditional sporadic tree planting activities to a more impactful and purposeful tree growing; with the ultimate goal of securing the existence of more sustainable, resilient socio-economically thriving communities. The name GreenPap connotes to the virtual capacity of the platform enabling a user to virtually plant a tree via their mobile phone by simply ‘bring the forest into the palm of their hands’! </p>
            <br>
            <p><strong>Key Features:</strong></p>
            <ul>
                <li>
                    <strong>   Tree species site matching.</strong> Through our partnership with Kenya Forestry Research Institute (KEFRI), we have gathered data that guides the user on the right type of tree species to grow in different regions of the country and their different uses;
                </li>
                <li>
                    <strong> Tree survival monitoring tool.</strong> Where we use DJI drone deploy technology and thermal imaging to capture data, establish the trees stand count and population thus providing accountability and the beauty of verification of the number of trees planted as well as how many survived afterwards. Through this technology, we can as well be able to provide backed-up analysis on why a certain number of planted species did not survive based on the climatic conditions of the selected area, stress on the species, plant health analyses, amongst other factors;
                </li>
                <li>
                    <strong>	Real-time forest cover</strong> in relation to achieving the 10% tree cover. The app shall provide data on the real-time census of the current tree cover. This shall add up to the National Tree Count Tally thus ensuring a better follow up towards achieving the 10% tree cover by 2022;
                </li>
                <li>
                    <strong>	Virtual tree planting.</strong> The app assists the user to plant a tree anywhere across Kenya by linking him/her to a Green Ambassador placed with the responsibility of planting and caretaking for trees, the latter having been accredited and certified after going through a Climate Action training module co-created and officially recognized by the Ministry of Environment & Forestry, KEFRI, KFS, MeForest/GreenPap among other actors. Green Ambassadors would be registered environmental-driven youth groups, women groups as well as community-based organizations whose one of their key roles and mandates would be ensuring a higher survival rate for trees;
                </li>
            </ul>

        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active"><a href="{{ url_for('portfolio') }}">All</a></li>
              <li data-filter=".filter-app"><a href="{{ url_for('applications') }}">App</a></li>
              <li data-filter=".filter-web"><a href="{{ url_for('websites') }}">Web</a></li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
{#              <img src="{{ url_for('static',filename='img/portfolio/app.jpg') }}" class="img-fluid" alt="">#}
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static',filename='img/portfolio/app.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
{#                  <img src="assets/img/portfolio/portfolio-details-1.jpg" alt="">#}
                    <img src="{{ url_for('static', filename='img/portfolio/kefri-app.jpg') }}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-details-2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{ url_for('static', filename='img/portfolio/maono-times.jpg') }}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
                <ul>
                <li><strong>Category</strong>: Mobile Application</li>
                <li><strong>Client</strong>: KEFRI APP</li>
                <li><strong>Project date</strong>: 01 February, 2021</li>
                <li><strong>Project URL</strong>: <a href="https://play.google.com/store/apps/details?id=com.kefri.org" target="_blank">https://play.google.com/store/apps/details?id=com.kefri.org</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Tools used to develop KEFRI App </h2>
              <ul>
                  <li>Kotlin</li>
                  <li>Android Studio</li>
                  <li>Firebase</li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
{#  <script src="assets/vendor/aos/aos.js"></script>#}
  <script src="{{ url_for('static',filename='vendor/aos/aos.js') }}"></script>

{#  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>#}
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.js/bootstrap.bundle.min.js') }}"></script>
{#  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>#}
    <script src="{{ url_for('static',filename='vendor/glightbox/js/glightbox.js/glightbox.min.js') }}"></script>
{#  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>#}
    <script src="{{ url_for('static',filename='vendor/isotope-layout/isotope.pkgd.js/isotope.pkgd.min.js') }}"></script>
{#  <script src="assets/vendor/php-email-form/validate.js"></script>#}
    <script src="{{ url_for('static',filename='vendor/php-email-form/validate.js') }}"></script>
{#  <script src="assets/vendor/purecounter/purecounter.js"></script>#}
  <script src="{{ url_for('static',filename='vendor/purecounter/purecounter.js') }}"></script>

{#  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>#}
    <script src="{{ url_for('static',filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
{#  <script src="assets/vendor/typed.js/typed.min.js"></script>#}
      <script src="{{ url_for('static',filename='vendor/typed.js/typed.min.js') }}"></script>
{#  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>#}
        <script src="{{ url_for('static',filename='vendor/waypoints/noframework.waypoints.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>

</body>

</html>