<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <img>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico
        <br>
        <img src="{{ url_for('static', filename='img/profile.jpg') }}" width="5%" height="5%">
    </td>
{#      <img src="{{ url_for('static', filename='img/profile.jpg') }}" width="50%" height="50%"></img>#}
  </tr>
</table>

<form>

</form>

</body>
</html>